@charset "UTF-8";
/* CSS Document */

/* henter et andet style sheet ind i vores*/
@import "simplegrid.css";
/* Dropdown content (hidden by default) */

.ceo{
	font-family: 'lato';
	text-align: center;

}
.ceo h2{
	font-weight: 700;

}
.ceo img{
	height: auto;
	max-width: 40%;
	margin: 10px 10px 0 10px;
}
.medarbejder img{
	height: auto;
	max-width: 40%;
	margin: 10px 10px;
}
.medarbejder{
	text-align: center;
	font-family: 'lato';
}
.dropdown {
    padding-top: 2px;
    padding-right: 16px;
    float: none;
    overflow: hidden;
}
.dropdown .dropbtn {
    color: rgba(0,0,0,0);
    background-image: url("../images/burger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.punkter .content{
	text-align: center;
}
.hjemmeside {
    max-width: 1920px;
    position: relative;
    text-align: center;
	padding: 0 10px;
    margin: 0 auto; /* Center it */
}
.hjemmeside img {
    width: 100%;
    height: auto;
}
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.pakke{
	background: #B5B2B0;
	/*border: thin solid #0E0C0C;*/
}
.pakke .content{
	
	text-align: center;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-decoration-color: black;
    display: block;
    text-align: left;
}
.navbar .dropdown .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-decoration-color: black;
    display: block;
    text-align: left;
}
.navbar .dropdownmenu .dropdown {
    float: right;
}
div.logo {
    display: block;
    height: auto;
    max-width: 150px;
    background: #FFFFFF;
    padding: 33.56px 33.6px 33.6px 0;
    float: left;
}
#myLinks {
    display: none;
}
div.logo img {
    height: auto;
    max-width: 150px;
}
.navbar .bar {
    height: 33.6px;
    background-color: #3D6BB4;
}
.navbar .udreBar {
    padding: 33.6px 0;
}
.navbar .stykke {
    height: 33.6px;
    background-color: #FFFFFF;
    float: left;
}
.navbar .stykke img {
    height: 33.6px;
}
body {
    font-family: 'lato';
    padding: 0;
    margin: 0;
    background: white;
}
.content {
    font-family: 'lato';
}
[class*='col-'] {
    padding: 0;
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
h1.mission {
    font-family: 'lato';
}
.mission {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(61, 107 , 180, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
#mission {
    max-width: 1920px;
    position: relative;
    text-align: center;
    margin: 0 auto; /* Center it */
}
#mission img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width : 765px) and (max-width:768px) {
.mission {
    padding: 10px;
}
.mission h1 {
    font-size: 18px;
}
.dropdown .dropbtn {
    color: rgba(0,0,0,0);
    background-image: url("../images/burger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar .bar {
    height: 56px;
    background-color: #3D6BB4;
}
.navbar .udreBar {
    padding: 56px 0;
}
.navbar .stykke {
    height: 56px;
    background-color: #FFFFFF;
    float: left;
}
.navbar .stykke img {
    height: 56px;
}
.desktop {
    display: none !important;
    height: 0;
    width: 0;
}
div.logo img {
    height: auto;
    max-width: 250px;
}
div.logo {
    display: block;
    height: auto;
    max-width: 250px;
    background: #FFFFFF;
    padding: 56px 56px 56px 0;
    float: left;
}
}

@media only screen and (min-width : 555px) and (max-width:764px) {
.mission {
    padding: 10px;
}
.mission h1 {
    font-size: 18px;
}
.dropdown .dropbtn {
    color: rgba(0,0,0,0);
    background-image: url("../images/burger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar .bar {
    height: 56px;
    background-color: #3D6BB4;
}
.navbar .udreBar {
    padding: 56px 0;
}
.navbar .stykke {
    height: 56px;
    background-color: #FFFFFF;
    float: left;
}
.navbar .stykke img {
    height: 56px;
}
.desktop {
    display: none !important;
    height: 0;
    width: 0;
}
div.logo img {
    height: auto;
    max-width: 250px;
}
div.logo {
    display: block;
    height: auto;
    max-width: 250px;
    background: #FFFFFF;
    padding: 56px 56px 56px 0;
    float: left;
}
}

@media only screen and (max-width: 554px) {
.mission {
    padding: 5px;
}
.mission h1 {
    font-size: 18px;
}
.desktop {
    display: none !important;
    height: 0;
    width: 0;
}
}

@media only screen and (max-width: 320px) {
.mission {
    padding: 5px;
}
.mission h1 {
    font-size: 10px;
}
.desktop {
    display: none !important;
    height: 0;
    width: 0;
}
}

@media only screen and (min-width: 769px) and (max-width: 850px) {
.mission h1 {
    font-size: 18px !important;
}
.desktop a {
    font-size: 13.6px;
}
}

@media only screen and (min-width: 1001px) {
.mission h1 {
    font-size: 24px;
}
.desktop a {
    margin-right: 15px;
    font-size: 19px;
}
}

@media only screen and (min-width: 1200px) {
.desktop a {
    margin-right: 55px;
}
}

@media only screen and (min-width: 1450px) {
.desktop a {
    margin-right: 105px;
}
}

@media only screen and (min-width: 1600px) {
.desktop a {
    margin-right: 145px;
}
}

@media only screen and (min-width: 1800px) {
.desktop a {
    margin-right: 185px;
}
}

@media only screen and (min-width: 769px) {
	.hjemmesidecut{
		max-height: 350px;
	}
	.ceo{
		height: 50%;
	}
	.pakke{
		height: 110px;
	}
.punkter .content p {
    max-width: 80%;
}
.punkter .content {
	text-align: left;
    height: 350px;
}
.mission h1 {
    font-size: 20px;
}
.navbar .bar {
    height: 56px;
    background-color: #3D6BB4;
}
.navbar .udreBar {
    padding: 56px 0;
}
.navbar .stykke {
    height: 56px;
    background-color: #FFFFFF;
    float: left;
}
.navbar .stykke img {
    height: 56px;
}
div.logo {
    display: block;
    height: auto;
    max-width: 250px;
    background: #FFFFFF;
    padding: 56px 56px 56px 0;
    float: left;
}
.burger {
    display: none !important;
    height: 0;
    width: 0;
}
div.logo img {
    height: auto;
    max-width: 250px;
}
.desktop {
    float: right;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
}
}
